.zone.diapo_top{
  position:relative;
  height: 100vh;


  .content{
    display: flex;
    flex-direction: column;
    width:100%;
    color:#fff;
    position: relative;
    z-index:5;
    align-items: center;
    justify-content: center;
    height: 100%;
    .title{
      margin: 30px 50px 50px 30px;
      line-height: 1;
      font-size: 60px;
      letter-spacing: 8px;
      text-align: center;
      color: white;
      text-transform: uppercase;
    }
    .desc{
      position: relative;
      font-size: 30px;
      color: white;
      letter-spacing: 1px;
      text-align: center;
      padding: 20px;
    }
  }


  .swiper-container{
    position:absolute;
    left:0;
    top:0;
    height:100%;
    width: 100%;
    .swiper-wrapper{
      height: 100%;
      .swiper-slide{
        height:100% !important;
        img{
          left:0;
          top:0;
          width:100%;
          height:100%;
          filter: brightness(0.9);
        }
      }
    }
  }

  .swiper-controls{
    position: absolute;
    top: 50%;
    left: 0;
    display: flex;
    width: 100%;
    .swiper-button-prev{
      margin-left: 10px;
    }
    .swiper-button-next{
      margin-left: auto;
      margin-right: 10px;
    }
  }
}


@media screen and (max-width : 800px)
{
  .zone.diapo_top{

    .content{
      .title{
        font-size: 24px;
        letter-spacing: 4px;
      }
      .desc{
        font-size: 14px;

      }
    }
  }


}

